<!doctype html>
<html lang="en">

<head>{{> head }}</head>

<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{ bodyClass }}">
    {{> header }}
    <main class="main container-fluid" role="main">
        {{#title}}
        <h2 class="page-title" lang="{{language_code}}" dir="{{language_dir}}"><span>{{{html}}}</span></h2> {{/title}}
        <div class="grp info">
            <div class="col flex-l" lang="en" dir="ltr">
                <p>ACO categories follow the Library of Congress Classification system.</p>
            </div>
            <div class="col flex-r" lang="ar" dir="rtl">
                <p>تتبع المجموعات العربية مجموعات على الإنترنت نظام تصنيف مكتبة الكونغرس.</p>
            </div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="#">All <span class="catcount">(9834 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">جميع <span lang="ar" dir="rtl"  class="catcount">(9834 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_a.pdf">General Works <span class="catcount">(99 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="">المعارف العامة <span lang="ar" dir="rtl"  class="catcount">(99 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_b.pdf">Philosophy.  Psychology.  Religion <span class="catcount">(3208 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الفلسفة وعلم النفس والدين <span class="catcount">(3208 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_c.pdf">Auxiliary Sciences of History <span class="catcount">(60 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم الفرعية للتاريخ <span class="catcount">(60 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_d.pdf">World History and History of
Europe, Asia, Africa, Australia, New Zealand, etc. <span class="catcount">(1515 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">تاريخ العالم وتاريخ أوروبا وآسيا وأفريقيا <span class="catcount">(1515 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_ef.pdf">History of the Americas <span class="catcount">(6 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">تاريخ أمريكا <span class="catcount">(6 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_g.pdf">Geography.  Anthropology. 
Recreation <span class="catcount">(50 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الجغرافيا والأنثربولوجيا والترفيه <span class="catcount">(50 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_h.pdf">Social Sciences <span class="catcount">(172 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم الاجتماعية <span class="catcount">(172 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_j.pdf">Political Science <span class="catcount">(80 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم السياسية <span class="catcount">(80 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_k.pdf">Law  <span class="catcount">(336 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">القانون <span class="catcount">(336 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_l.pdf">Education <span class="catcount">(67 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">التعليم <span class="catcount">(67 كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_m.pdf">Music and Books on Music <span class="catcount">(15 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الموسيقى <span class="catcount">(15 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_n.pdf">Fine Arts <span class="catcount">(35 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الفنون الجميلة <span class="catcount">(35 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_p.pdf">Language and Literature <span class="catcount">(2208 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">اللغات والآداب <span class="catcount">(2208 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_q.pdf">Science <span class="catcount">(98 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم <span class="catcount">(98 كتب  )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_r.pdf">Medicine <span class="catcount">(48 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الطب <span class="catcount">(48 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_s.pdf">Agriculture <span class="catcount">(28 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الزراعة <span class="catcount">(28 كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_t.pdf">Technology <span class="catcount">(20 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">التكنولوجيا <span class="catcount">(20  كتب )</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_u.pdf">Military Science <span class="catcount">(5 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم العسكرية <span class="catcount">(5  كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_v.pdf">Naval Science <span class="catcount">(2 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">العلوم البحرية <span class="catcount">(2  كتب)</span></a></div>
        </div>
        <div class="grp">
            <div dir="ltr" class="flex-l" lang="en-us"><a href="/aba/cataloging/classification/lcco/lcco_z.pdf">Bibliography.  Library Science.  Information
Resources (General) <span class="catcount">(138 books)</span></a></div>
            <div dir="rtl" class="flex-r" lang="ar"><a href="#">الببليوغرافيا ، وعلوم المكتبات ، والمعلومات العامة <span class="catcount">(138  كتب)</span></a></div>
        </div>
    </main>
    {{> footer }} {{{ closure }}}
</body>

</html>